body {
  background-color: #EBEBEB;
}

#welcome {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background:-webkit-gradient(linear, 0% 0%, 0% 100%,from(#FF0000), to(#C00000));
  transition: all 2s 1s;
  z-index: 1000;
}

#welcome.hiden {
  opacity: 0;
  z-index: 0;
}

div.login {
  position: relative;
  margin-left: 1rem;
  margin-right: 1rem;
  margin-top: 1.5rem;
  height: auto;
  background-color: transparent;
}

div.login > form {
  background-color: transparent;
}

div.login > form > div {
  display: block;
  position: relative;
  padding: 1rem 1rem;
  background-color: #FFFFFF;
  border-radius: .2rem;
  box-shadow: 0 0 .3rem rgba(0,0,0, .3);
}

div.login > form > div > p {
  
}

div.login > form > div > p:first-child {
  border-bottom: 1px solid #CCCCCC;
}

div.login > form > div > p > input {
  display: block;
  width: 100%;
  height: 1em;
  border: none;
  outline: none;
  font-size: 1.125rem;
  line-height: 1em;
  vertical-align: middle;
  text-align: left;
}