body {
  background-color: #f5f6f7;
}

#welcome {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background:-webkit-gradient(linear, 0% 0%, 0% 100%,from(#FF0000), to(#C00000));
  transition: all 2s 1s;
  z-index: 1000;
}

#welcome.hiden {
  opacity: 0;
  z-index: 0;
}

div.login {
  position: relative;
  margin-left: 1rem;
  margin-right: 1rem;
  margin-top: 1.5rem;
  height: auto;
  background-color: transparent;
}

div.login > h1 {
  display: block;
  position: relative;
  height: 3rem;
  padding: .5rem 0;
  font-size: 2rem;
  font-weight: normal;
  font-family: inherit;
  font-style: normal;
  text-align: center;
  line-height: 1em;
  vertical-align: middle;

}

div.login > form {
  background-color: transparent;
}

div.login > form > div {
  display: block;
  position: relative;
  margin-bottom: .5rem;
}

div.login > form > div > input {
  display: block;
  position: relative;
  margin-left: 0;
  margin-right: 0;
  height: 3rem;
  width: 100%;
  /*padding-left: 3rem;*/
  background-color: #FFFFFF;
  border: none;
  outline: 2px solid #999999;
  -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
     -moz-box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
          box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
  -webkit-transition: outline linear 0.2s, box-shadow linear 0.2s;
     -moz-transition: outline linear 0.2s, box-shadow linear 0.2s;
       -o-transition: outline linear 0.2s, box-shadow linear 0.2s;
          transition: outline linear 0.2s, box-shadow linear 0.2s;
  font-size: 1.125rem;
  color: #333333;
  line-height: 3rem;
  vertical-align: middle;
}
